.garbage {
    position: fixed; bottom: 0px; width: 14px; height: 14px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 1000;
}