.garbage {
    position: fixed; bottom: 0px; width: 14px; height: 14px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 1000;
}

#bin {
    width: 150px;
    height: 150px;
    background: rgb(132, 132, 132);
    position: absolute;
    top: 50%;
    left: 45%;
    
}