.garbage {
    position: fixed;
    bottom: 1700px;
    width: 14px;
    height: 14px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 1000;
}

#bin {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 1700px;
    left: 700px;
}

.content ul {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.7;
    margin: 0;
}

.score {
    margin: 0;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: #ffffff;
    background: #4caf50;
    padding: 6px 16px;
    border-radius: 12px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 4px 0 #2e7d32;
}

.feature_cards {
    display: flex;
    gap: 40px;
    padding: 40px 64px 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.card_container {
    width: 350px;
    height: 200px;
    perspective: 1200px;
    opacity: 0;
    transition: 0.5s;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}


.card_front, .card_background {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 24px;
    background: #FFE18D;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.05);
    transition: 0.5s;
}

.card_background {
    background: #FFF9E6;
    transform: rotateY(180deg);
    justify-content: center;
}

.img_card {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid rgba(0,0,0,0.03);
}

.card_body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card_body h3 {
    font-size: 26px;
    margin: 10px 0;
    font-weight: 700;
}

.card_body p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    margin-bottom: 20px;
}

.card_button, .card_close_button {
    margin-top: auto;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.card_button:hover, .card_close_button:hover {
    background: #d4a017;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .card_container {
        width: 100%;
        max-width: 350px;
    }
}